# If adding a new value, ensure the key vault is updated and tagged with "e2e": "ENV_VAR_NAME"

# EXUI users
CASE_OFFICER_USERNAME=
CASE_OFFICER_PASSWORD=
ADMIN_OFFICER_USERNAME=
ADMIN_OFFICER_PASSWORD=
HOME_OFFICE_USERNAME=
HOME_OFFICE_PASSWORD=
JUDGE_USERNAME=
JUDGE_PASSWORD=
LEGAL_REP_USERNAME=
LEGAL_REP_PASSWORD=

CITIZEN_FRONTEND_BASE_URL=

# Idam
IDAM_SECRET=
IDAM_CITIZEN_USER_PASSWORD=
IDAM_WEB_URL=https://idam-web-public.aat.platform.hmcts.net
IDAM_TESTING_SUPPORT_URL=https://idam-testing-support-api.aat.platform.hmcts.net
S2S_URL=http://rpe-service-auth-provider-aat.service.core-compute-aat.internal/testing-support/lease